.main-nav {
    color: blue;
}

.icon {
    background-color: lightblue;
    height: 25px;
    width: 33px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    vertical-align: middle;
    margin-left: -6px;
    color: blue;
    font-size: 0.75rem;
}

.filter {
    background-color: white;
    border-radius: 20px;
    border-color: lightgray;
    font-size: 0.75rem;
    padding: 0 8px 0 4px;
    text-align: unset;
    margin: 8px;
  }

  .btn-wrap Filters {
      font-size: 1rem;
  }