.main-nav span{
    color: blue;
    display: inline;
    position:relative;
    left: 450px;
    bottom: 25px;
    padding: 25px;
}

.search {
    display: flex;

}

.marker {
    background-color: lightgrey;
    height: 23px;
    width: 33px;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
    text-align: center;
    padding-top: 12px;
    vertical-align: middle;
    margin-left: -6px;
    font-size: 0.75rem;
}

.bar {
    height: 35px;
    border-color: white;
    
}

.button {
    background-color: #0065FC;
    color: white;
    height: 35px;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.btn-wrap {
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
}

.filt{
    font-size: 1.25rem;
    padding-top: 17px;
}

.icon {
    background-color: #DEEBFF;
    height: 25px;
    width: 33px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
    vertical-align: middle;
    margin-left: -6px;
    color: #0065FC;
    font-size: 0.75rem;
}

.filter {
    background-color: white;
    border-radius: 20px;
    border-color: lightgray;
    font-size: 1rem;
    padding: 0 8px 0 4px;
    text-align: unset;
    margin: 6px;
}

.info {
    width: 25%;
}

.inform {
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    border-color: grey;
    color: #0065FC;
}

.section-wrap {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.section-wrap h3{
    position:relative;
    left: 2.5%;
}

.accomm h2 {
    position: relative;
    left: 2.5%;
}
.accomm {
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
}

.accomm-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    width: 25%;
    margin: 2%;
}

.card img{
    object-fit: cover;
    height: 125px;
    width: 100%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.card a{
    color: black;
    text-decoration: none;
}

.card p{
    position: relative;
    left: 2.5%;
}
.popular {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 10px;
    width: 35%;
}

.popular h2{
    position: relative;
    left: 3%;
}

.chart{
    position: relative;
    bottom: 5.5%;
    left: 90%;
    font-size: 1.25rem;
}

.popular-card-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.pop-card {
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    margin: 3%;
}

.pop-card img{
    object-fit: cover;
    height: 200px;
    width: 50%;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
    padding-right: 30px;
    max-width: 100%;
    
}
.pop-card a{
    display: flex;
    color: black;
    text-decoration: none;
}

.act {
    padding: 10px;
    width: 100%;
   }

.act-card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: #0065FC 1px solid;
    
}

.act-card {
    border-radius: 15px;
    padding: 5px;
    background-color: white;
    /* margin: 0 3%; */
    border-bottom-right-radius: 7%;
    border-bottom-left-radius: 7%;
    border: green 1px solid;
    width: 20%;
}

.act-card a{
    color: black;
    text-decoration: none;
}

.act-card img{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 7%;
    border-top-right-radius: 7%;
}

.large img {
    height: 500px;
}

.fort img {
    height: 350px;
}

.island img{
    height: 150px;
}

.dame img{
    height: 200px;
}

.park img{
    height: 300px;
}

.second, .fourth {
    width: 20%;

}
.second .act-card, .fourth .act-card{
    width: 100%;

}